<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    	
				<ul>
	        		<li><a href=/bossclark/index.html">Home</a></li>
		        	<li><a href=/bossclark/roger-amy/roger-amy.html>Roger + Amy</a></li>
				<li><a href=/bossclark/hugh-kelly/hugh-kelly.html>Hugh + Kelly</a></li>
				<li><a href=/bossclark/mary-gary/mary-gary.html>Mary + Gary</a></li>
	        		<li><a href=/bossclark/melissa/melissa.html>Melissa</a></li>
				<li><a href=/bossclark/seymour-carolyne/seymour-carolyne>Seymour + Carolyne</a></li>
				<li><a href=/bossclark/ted-jaymie/ted-jaymie.html>Ted + Jaymie</a></li>
				<li><a href=/bossclark/ashley-zach/ashley-zach.html>Ashley + Zach</a></li>
		    		<li><a href=/bossclark/rupert-hayley/rupert-hayley>Rupert + Hayley</a></li>
				
			</ul>
			</nav>
					<div align="center"><img src="/bossclark/images/bossclark.jpg" alt="header image" class="templatemo-header-img img-responsive cleaner" align="absmiddle">
		  </div>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		
	        		<li><a href="http://www.bossclark.com</a></li>
				</ul>
			</footer>
		</body>
	</html>
