<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    	
				<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href=/bossclark/roger-amy/roger-amy.html>Roger + Amy</a></li>
				<li><a href=“bossclark/hugh-kelly/hugh-kelly.html">Hugh + Kelly</a></li>
				<li><a href=“/mary-gary/mary-gary.html">Mary + Gary</a></li>
	        		<li><a href=“/melissa/melissa.html">Melissa</a></li>
				<li><a href=“/seymour-carolyne/seymour-carolyne”>Seymour + Carolyne</a></li>
				<li><a href=“/ted-jaymie/ted-jaymie.html">Ted + Jaymie</a></li>
				<li><a href=“/ashley-zach/ashley-zach.html“>Ashley + Zach</a></li>
		    		<li><a href=“/rupert-hayley/rupert-hayley“>Rupert + Hayley</a></li>
				<li><a href="https://www.wanderable.com/hm/zashley/">Registry</a></li>
			</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		
	        		<li><a href="http://www.bossclark.com</a></li>
				</ul>
			</footer>
		</body>
	</html>
